<?xml version="1.0"?>
<model>
  <!-- Name can be anything -->
  <name>my_chair</name>
  <version>1.0</version>
  <!-- here chair.sdf is the sdf file created by you for the chair -->
  <sdf version='1.4'>chair.sdf</sdf>

  <author>
   <name>arksn21</name>
   <email>arksn21@gmail.com</email>
  </author>

  <!-- Description of the model -->
  <description>
    This is a model of a chair.
  </description>
</model>